.message{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes glow {
  0%, 100% { filter: drop-shadow(0 0 4px rgb(11, 162, 53)); }
  50% { filter: drop-shadow(0 0 10px rgb(11, 162, 53) ); }
}

.message svg {
  color: var(--Felr-txt);
  animation: glow 1.5s infinite alternate;
}

.message p{
    color:var(--muted-text);
    font-style: italic;
    margin-top:10px;
    font-size:0.7rem ;
}

.message h3{
    font-weight: 600;
    margin-top: 10px;
    opacity: 1;
    font-size: 1.2rem;
}

.cancel{
    
    display:flex;
    align-items: center;
    justify-content: end;
}

.cancelbtn{
   border:none;
    background: none; 
      color:var(--muted-text);
      font-weight: 700; 
}

.cancelbtn:hover{
    color:var(--text-primary); 
}

.crypto {
        font-size: 0.2rem; /* Adjust font size for mobile */
        margin-top: 10px;
    }
.title h2{
    font-size: 1.7rem;
}


/* --- Mobile Responsiveness --- */
@media (max-width: 600px) {
    .message svg {
        width: 56px; /* Slightly smaller icon for mobile */
        height: 56px;
    }

    .message p {
        font-size: 0.63rem; /* Slightly smaller text to prevent wrapping issues */
        line-height: 1.4;
        padding: 0 10px;
    }

    .cancelbtn {
        font-size: 1.2rem; 
        padding: 12px;    
    }
    
    .message {
        gap: 8px; /* Add space between icon and text */
    }
    .message h3{
        font-size: 1rem;
    }
    
}